@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Gragne;
  src: url('./assets/fonts/Grange.ttf');
}

@font-face {
  font-family: ProximaNova;
  src: url('./assets/fonts/Proxima-Nova.otf');
}

.text-header {
  font-family: Gragne;
}

* {
  font-family: ProximaNova;
}